@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

:root {
    --padding-green: #e8ebd6;
    --freeland-green: #d0e06d;
    --finish-title-blue: #00275e;
    --p-tag-grey: #99a4b7;
    --button-background: #cde030;
    --button-text: #51704b;
}
    

body {
    margin:0;
    padding: 40px;
    box-sizing: border-box;
    background-color: var(--padding-green);

}


#content-wrapper {
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    display: grid;

}

header nav, header nav ul {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
}

header nav > a {
    text-decoration: none;
    color: var(--freeland-green);
}

header nav ul a {
    color: var(--finish-title-blue);
}



header nav ul li {
    margin: 0 10px;
    
}

header nav ul li a {
    text-decoration: none;

}

main section h2 {

}

